<div *ngIf="loading$ | async" class="loading-spinner">Loading...</div>
<div id="formWrapper" class="d-flex justify-content-center align-items-center">
    <div class="formWarp p-4 rounded-2" style="min-width: 300px;">
        <form [formGroup]="login" (ngSubmit)="onLogin()" class="d-flex flex-column">
            <div class="mb-2">
                <h1 class="text-center loginHead">Login</h1>
            </div>
            <div class="em mb-2 w-100">
                <label for="email" class="form-label loginText">Email</label>
                <input type="email" class="form-control" formControlName="email" placeholder="Email">
            </div>
            <div class="pw mb-2 w-100">
                <label for="password" class="form-label loginText">Password</label>
                <input id="ps"  [type]="showpw ?'password':'text'" class="form-control" formControlName="password" placeholder="password">
            </div>   
            <div class="showps d-flex align-items-center">
                <input type="checkbox" id="pwCheck" class="me-2" (change)="toggleShowpw()" >
                <label for="pwCheck" class="form-label loginText">Show Password</label>
            </div>
            <div class="formbutton text-center mt-2 mb-0">                             
                <button type="submit" class="btn btnLoginColor w-100 mb-2">Submit</button>
                <p class="text-center mb-0">
                    <a href="site/register" class="loginText"><small>Register</small></a>  
                </p>
            </div>       
        </form>
    </div>    
</div>



